#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME}
#set($Integer = 0)
#set($CustomDay = $NAME.substring(3))
#set($CustomYear = $PACKAGE_NAME.substring($PACKAGE_NAME.indexOf(".y") + 2))
#set($Input = 'Day' + ${CustomYear} + ${CustomDay} + 'Input')

import com.ite.aoc.AocDay
import com.ite.aoc.mapLines

private typealias $Input = List<String>

#end
#parse("File Header.java")
class ${NAME} : AocDay<$Input>(
day = $Integer.parseInt(${CustomDay}),
year = ${CustomYear},
) {

override fun part1(entries: $Input): Any? {
return null
}

override fun part2(entries: $Input): Any? {
return null
}

override fun convert(file: String): $Input =
file.mapLines { _, l -> l }

}

fun main() {
${NAME}().solve(copyResult = true)
}